html,
body {
  padding: 0;
  margin: 0;
  text-align: center;
  background: #d5dbe0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
}

li {
    list-style: none;
    background: #e7e7e7;
    border-radius: 10px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    margin: 1rem;
}

li:hover {
  filter: brightness(130%);
}